{% load static socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
 {% if request.user.is_authenticated %}
Hello {{ request.user.username }}
     <a href="{% url "accounts:reset-password" %}"> Reset Password </a>
{% else %}
Hello Anonymous
     <a href="{% url "accounts:account_signup" %}"> Register </a>
          <a href="{% provider_login_url "google" method="oauth2" %}">
                                                        <img src="{% static "images/google-icon.png" %}"
                                                             style="margin-left: 10px" alt="" width="22" height="22">
                                                    </a>
{% endif %}
</body>
</html>